* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1235px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.loading {
  img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;
  }
}

.error {
  img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    object-fit: contain;
    margin: 0 auto;
  }
}

.no-product {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 8px; 
  width: 400px;
  height: 350px;
  .back-button {
    background: none;
    border: none;
    font-size: 28px;
    font-weight: 600;
    font-family: $playfair;
    color: $light__green;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: darken($light__green, 10%);
    }
  }
  p {
    font-style: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: $playfair;
  }
}

.no-events p{
  text-align: center;
  padding: 50px 0;
}

.oops{
  width: 400px;
  height: 400px;
  object-fit: contain;
  margin: 0 auto;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
  }
}


@media (max-width: 500px) {
  .container {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }
}


@media (max-width: 450px) {
  .container {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
  }
}