$white: #fff;
$black: #000;
$light__green: #77ba41;
$primary-color: #28a745;
$secondary-color: #2ac653;
$gray: #555;
$light-gray: #ededed;
$modal-bg: rgba(0, 0, 0, 0.8);

// foofle fonts
$montserrat: "Montserrat", sans-serif;
$playfair :"Playfair Display", serif;
