header {
  background-color: $white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.5s linear;
  position: relative;
  z-index: 5;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;

    img {
      width: 140px;
      height: 80px;
      object-fit: contain;
    }

    nav {
      ul {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          .header__nav-item {
            font-family: $playfair;
            font-size: 18px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 1px;
            color: $black;
            cursor: pointer;
            position: relative;
            transition: all 0.3s ease-in-out;
            text-decoration: none;

            &:hover,
            &.active {
              color: $light__green;
            }

            &::after {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              bottom: -3px;
              height: 2px;
              background-color: $light__green;
              transform: scaleX(0);
              transition: transform 0.5s ease-in-out;
              transform-origin: right;
            }

            &:hover::after,
            &.active::after {
              transform: scaleX(1);
              transform-origin: left;
            }
          }

          .translate-button {
            background: none;
            border: none;
            cursor: pointer;
            color: $black;
            transition: color 0.3s;

            &:hover {
              color: $light__green;
            }

            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }

  .hamburger-menu {
    display: none;

    &.open .bar:nth-child(1) {
      transform: rotate(45deg) translate(1px, 1px);
      background-color: $light__green;
    }

    &.open .bar:nth-child(2) {
      opacity: 0;
    }

    &.open .bar:nth-child(3) {
      transform: rotate(-45deg);
      background-color: $light__green;
    }

    &:hover {
      .bar {
        background-color: $light__green;
      }
    }

    .bar {
      width: 100%;
      height: 3px;
      background-color: $black;
      border-radius: 2px;
      transition: all 0.4s ease;
      transform-origin: 5px;

      &:nth-child(2) {
        transition: width 0.3s ease;
      }
    }
  }

  @media (max-width: 1100px) {
    padding: 0 20px;
  }

  @media (max-width: 870px) {
    .header__wrapper {
      img {
        width: 130px;
        height: 60px;
      }

      nav {
        ul {
          display: none;
          flex-direction: column;
          position: absolute;
          width: 200px;
          top: 100%;
          right: 0;
          background-color: $white;
          padding: 20px 0;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          z-index: 999;
          border-radius: 0 0 10px 10px;

          li {
            .header__nav-item {
              font-size: 20px;
              padding: 10px 0;
              width: 100%;
              text-align: left;
            }
          }
        }
      }

      .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 24px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 1001;
        position: absolute;
        right: 15px;
        top: 30px;
        transition: transform 0.4s ease;
      }

      nav.active {
        ul {
          display: flex;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .header__wrapper {
      img {
        width: 110px;
        height: 60px;
      }

      nav {
        ul {
          display: none;
          flex-direction: column;
          position: absolute;
          width: 170px;
          top: 100%;
          right: 0;
          background-color: $white;
          padding: 20px 0;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          z-index: 999;
          border-radius: 0 0 10px 10px;

          li {
            .header__nav-item {
              font-size: 15px;
              padding: 10px 0;
              width: 100%;
              text-align: left;
            }
          }
        }
      }

      .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 24px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 1001;
        position: absolute;
        right: 15px;
        top: 30px;
        transition: transform 0.4s ease;
      }

      nav.active {
        ul {
          display: flex;
        }
      }
    }
  }
}
