.about-home-two {
  padding: 60px 0;
  background-color: #eaf4f4;
  text-align: center;

  h2 {
    font-family: $playfair, serif;
    font-weight: 500;
    font-size: 2.5rem;
    color: $black;
    margin-bottom: 20px;
  }

  p {
    font-family: $playfair, serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: $gray;
    max-width: 600px;
    margin: 0 auto 30px;
    line-height: 1.6;
  }

  .about-home-two__link {
    font-family: $playfair, serif;
    font-size: 1.1875rem;
    font-weight: 400;
    color: $primary-color;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      color: $primary-color;
      transform: translateY(-2px);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px;
      height: 2px;
      background-color: $primary-color;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
      transform-origin: left;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}

@media (max-width: 1100px) {
  .about-home-two {
    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }

    .about-home-two__link {
      font-size: 1rem;
    }
  }
}
@media (max-width: 768px) {
  .about-home-two {
    padding: 40px 15px !important;

    h2 {
      font-weight: 600 !important;
      font-size: 1.8rem !important;
    }

    p {
      font-weight: 400 !important;
      font-size: 1rem !important;
      max-width: 500px !important;
    }

    .about-home-two__link {
      font-size: 1rem !important;
    }
  }
}
