.contact-review {
  h3 {
    text-align: left;
    font-family: $playfair;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #2c3e50;
    letter-spacing: 1px;
  }
  .contact-hero__reviews {
    width: 620px;
    max-height: 300px;
    overflow-y: auto;
    padding-right: 15px;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    transition: all 0.4s ease-in-out;

    &::-webkit-scrollbar {
      display: none;
    }

    blockquote {
      width: 100%;
      background-color: $light-gray;
      border-left: 4px solid $primary-color;
      padding: 10px;
      margin: 0;
      opacity: 0;
      animation: fadeInUp 0.6s forwards;

      p {
        font-family: $playfair;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        color: #34495e;
      }

      cite {
        font-family: $playfair;
        font-size: 16px;
        font-weight: 400;
        display: block;
        margin-top: 0.5rem;
        color: #7f8c8d;
      }
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (max-width: 1250px) {
  .contact-review {
    h3 {
      font-size: 19px;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    .contact-hero__reviews {
      width: 460px;
      gap: 15px;

      blockquote {
        p {
          font-size: 18px;
          font-weight: 400;
        }

        cite {
          font-size: 16px;
          font-weight: 400;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .contact-review {
    h3 {
      font-size: 19px;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    .contact-hero__reviews {
      width: 460px;
      gap: 15px;

      blockquote {
        p {
          font-size: 18px;
          font-weight: 400;
        }

        cite {
          font-size: 16px;
          font-weight: 400;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .contact-review {
    h3 {
      font-size: 19px;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    .contact-hero__reviews {
      width: 400px;
      gap: 15px;

      blockquote {
        p {
          font-size: 18px;
          font-weight: 400;
        }

        cite {
          font-size: 16px;
          font-weight: 400;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .contact-review {
    h3 {
      font-size: 19px;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    .contact-hero__reviews {
      width: 350px;
      gap: 15px;

      blockquote {
        p {
          font-size: 18px;
          font-weight: 400;
        }

        cite {
          font-size: 16px;
          font-weight: 400;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .contact-review {
    h3 {
      font-size: 19px;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    .contact-hero__reviews {
      width: 280px;
      gap: 15px;

      blockquote {
        p {
          font-size: 18px;
          font-weight: 400;
        }

        cite {
          font-size: 16px;
          font-weight: 400;
          margin-top: 0.5rem;
        }
      }
    }
  }
}
