.contact-hero__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-right: 2rem;
  animation: fadeIn 1s ease-in-out;
  margin: 0 50px;

  .contact-hero__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  h2 {
    font-family: $playfair;
    font-weight: 700;
    margin: 0.5rem 0;
    color: #2c3e50;
    font-size: 1.5rem;
    position: relative;
    transition: color 0.3s ease;

    &:hover {
      color: $light__green;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px;
      height: 2px;
      background-color: $light__green;
      transform: scaleX(0);
      transition: transform 0.5s ease-in-out;
      transform-origin: right;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  p {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: $playfair;
    font-size: 18px;
    font-weight: 400;
    margin: 0.25rem 0;
    color: #34495e;
    transition: color 0.3s ease;

    &:hover {
      color: $primary-color;
    }
  }

  .contact-hero__socials {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;

    a {
      display: inline-block;
      transition: transform 0.3s ease;

      img {
        width: 24px;
        height: 24px;
      }

      &:hover {
        transform: translateY(-2px);
        opacity: 0.8;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 450px) {
  .contact-hero__info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-right: 0;
    .contact-hero__image {
      width: 120px;
      height: 120px;
    }
    h2 {
      font-size: 1.2rem;
    }
    p {
      font-size: 12px;
      font-weight: 400;
    }
  }
}
